<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @list.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @list.Time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @list.Title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @list.Details %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @list.Tag %>
</p>

<p>
  <strong>Done:</strong>
  <%= @list.Done %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
